@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Sniglet&display=swap');
/* font-family: 'Sniglet', cursive, 'Nunito', sans-serif; */

body {
  background-color: #002352;
}

#blog {
  color: white;
  margin: auto;
}

#blog-headline {
  font-family: 'Sniglet', cursive;
  text-align: center;
}

#blog-content {
  font-family: 'Nunito', sans-serif;
  text-align: justify;
  width: 50%;
  margin: auto;
  text-justify: inter-word;
}

#comments, #form, #error-btn {
  font-family: 'Nunito', sans-serif;
  text-align: justify;
  text-justify: inter-word;
  width: 50%;
  margin: auto;
  margin-top: 25px;
}

.tubbyNugget {
  margin: auto;
  display: block;
}
