@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Sniglet&display=swap');
/* font-family: 'Sniglet', cursive, 'Nunito', sans-serif; */

body {
  background-color: #002352;
  color: #DAE8FB
}

#blog {
  /* color: white; */
  margin: auto;
}

#blog-headline {
  font-family: 'Sniglet', cursive;
  text-align: center;
}

.headlines {
  font-family: 'Sniglet', cursive;
  text-align: center;
  border-top: 1px solid #DAE8FB;
  border-bottom: 1px solid #DAE8FB;
  padding: 5px 0;
  margin: 25px auto auto auto;
  width: 400px;
}

#blog-content {
  font-family: 'Nunito', sans-serif;
  text-align: justify;
  width: 50%;
  margin: auto;
  text-justify: inter-word;
}

#comments, #form, #error-btn {
  font-family: 'Nunito', sans-serif;
  text-align: justify;
  text-justify: inter-word;
  width: 50%;
  margin: auto;
  margin-top: 25px;
}

.comment {
  border: 1px dashed #DAE8FB;
  padding: 5px;
  margin: 20px auto;
  max-width: 500px;
}

.tubbyNugget {
  margin: auto;
  display: block;
}

#form {
  display: flex;
  flex-flow: column wrap;
  width: 450px;
}

.name-input {
  padding: 10px;
  font-family: 'Nunito', sans-serif;
  background-color: #DAE8FB;
  transition: 400ms;
  margin-bottom: 10px;
}

.name-input:focus {
  padding: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  background-color: #A4C7F4;
}

.comment-input {
  padding: 10px;
  font-family: 'Nunito', sans-serif;
  background-color: #DAE8FB;
  transition: 400ms;
  margin-bottom: 10px;
  resize: none;
}

.comment-input:focus {
  padding: 10px 10px 65px 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  background-color: #A4C7F4;
  transform-origin: top;
  resize: none;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 20px  #A4C7F4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 40px  #A4C7F4;
  border-radius: 10px;
}


input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

.add-comment-btn {
  margin: auto;
  font-family: 'Nunito', sans-serif;
  background-color: #A4C7F4;
  padding: 5px;
  border: 2px solid #A4C7F4;
  transition: 400ms;
}
.add-comment-btn:hover {
  margin: auto;
  font-family: 'Nunito', sans-serif;
  background-color: #002352;
  padding: 5px;
  border: 2px solid white;
  color: white;
}

.error-btn {
  margin: auto;
  font-family: 'Nunito', sans-serif;
  background-color: #A4C7F4;
  padding: 5px;
  border: 2px solid #A4C7F4;
  transition: 400ms;
}
.error-btn:hover {
  margin: auto;
  font-family: 'Nunito', sans-serif;
  background-color: #002352;
  padding: 5px;
  border: 2px solid white;
  color: white;
}

.notFound {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  text-align: center;
}